<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');
</style>
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,p,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}

/* theme */
header h1{
    text-align: center;
    background-color: rgb(100,5,5);
    line-height: 6.5rem;
    font-weight: normal;
    color: #fff;
}
main{
    max-width: 80.0rem;
    margin: 5.0rem auto;
    border: solid .1rem #222;
    overflow: hidden;
}
main ul li img{
    display: block;
    width: 100%;
}
main ul{
    padding: 1.0rem 0 0 1.0rem;
    font-size: 0;
}
main ul li{
    display: inline-block;
    width: calc(100% / 4 - 1.0rem);
    margin: 0 1rem 1rem 0;
}
main ul li:nth-of-type(5), main ul li:nth-of-type(6){
    width: calc(100% / 2 - 1.0rem);
}
main ul li:last-child{
    width: calc(50% * 2 - 1.0rem);
}
footer{
    text-align: center;
}
